body {
	background-color: #eeeeee;
}

/* page-header class */
.page-header	{
	background-color: #1991d1;
	margin: 0px;
	padding: 20px 20px 0px 40px;
	border: none;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
	color: #ffffff;
	font-size: 36pt;
	text-decoration: none;
}

/* top-menu-right */
.top-menu-right ul {
	list-style-type: none;
	overflow: hidden;
	font-size: 90%;
}

.top-menu-right ul li a {
	display: inline-block;
	float: right;
	text-decoration: none;
	color: #dddddd;
	text-align: center;
	padding: 10px 10px 10px 10px;
}

.top-menu-right ul li a:hover {
	background-color: #55bbff;
	color: #ffffff;
}

/* content class */
.content {
	border: none;
	width: 100%;
	padding: 20px 20px 0px 40px
}

.date {
	color: #828282;
}

.post	{
	margin-bottom:	70px;
}

.post h1, .post h1 a, .post h1 a:visited {
	text-decoration: none;
	color:	#1991d1;
}

.post h1 a:hover{
	color:	#444444;
}
