body {
	background-color: #eeeeee;
}

.page-header {
	background-color: #1991d1;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 40px;
	width: 100%;
	border: none;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
	color: #cccccc;
	font-size: 36pt;
	font-family: verdana;
	text-decoration: none;
}

.page-header h1 a:hover {
	color: #dddddd;
	text-decoration: none;
}

.content {
	background-color: #eeeeee;
	margin: 10px 0px 0px 0px;
	padding: 20px 0px 0px 40px;
	height: 100%;
	width: 100%;
}

.date {
	color: #828282;
}

.save {
	float: right;
}

.post-form textarea, .post-form input {
	width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
	color: #ffffff;
	float: right;
	font-size: 26pt;
	margin-right: 20px;
}

.post {
	margin-bottom: 60px;
}

.post h1, .post h1 a {
	color:	#1991d1;
	text-decoration: none;
}

.post h1 a:visited {
	color: #006595;
	text-decoration: none;
}

.post h1 a:hover {
	color: grey;
	text-decoration: none;
}
